.icons__chattingpage {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.icons__chattingpage i {
    margin: 0px 12px;
}

.chatting__page-statusbar {
    background-color: #a0b9c9;
}

.chatting__page-topbar {
    background-color: #A0B9C9;
}

.chatting-page {
    margin-top: 90px;
    background-color: #A0B9C9;
    padding-top: 20px;
    position: relative;
    z-index: -8;
}

.chatlog-friend {
    display: flex;
    position: relative;
    margin-left: 15px;
}

.chatlog-mine {
    display:flex;
    flex-direction: row-reverse;
    position: relative;
    margin-right: 15px;
}

.chatlog__comment-name {
    font-weight: 600;
    color: white;
}

.chatlog__comment-content{
    padding: 16px 20px;
    background-color: white; 
    margin-top: 15px;
    border-radius: 0px 10px 10px 10px;
    
}

.chatlog-mine .chatlog__comment-content {
    border-radius: 10px 0px 10px 10px;
    background-color: chocolate;
    color: wheat;
}


.chatlog__time {
    position: absolute;
    height: 16px;
    bottom: 0;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.chatlog-mine .chatlog__time {
    right: 150px;
}

.chatlog-friend .chatlog__time {
    left: 210px;
}


.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    box-sizing: border-box;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.reply .reply__column:first-child {
   width: 10%; 
}

.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply i {
    opacity: 0.5;
}

.reply input {
    padding: 14px;
    width: 100%;
    border: var(--main-border);
    border-radius: 25px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: 3px;
    top: 3px;
}

.reply__column:last-child > i {
    right: 50px;
    top: 15px;
}

.reply__column button {
    background-color: var(--yellow);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.reply__column button i {
    opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
    transition: opacity 0.3s ease-in-out;
}


.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
    opacity: 0;
}

.reply input:focus {
    width: 98vw;
    transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
    transform: translateY(80px);
}